main {
    height: 100%;
    margin: 0;
  }
.header { background-color: rgba(19, 18, 18, 0.89); height: 40px; width: 100%; position: absolute; top: 0px; left: 0px;}
svg {
    fill: rgb(40, 231, 183);
    height: 20px;
    margin-left: 20%;
    padding: 10px 0px;
}
.container {
    height: calc(100% - 40px);
    top: 40px;
    position: absolute;
    width: 100%;
    left: 0px;
}
.main_content {
    background: url("/assets/img/photo-couch_2x.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 65%;
}
.h1 {
    font-family: 'Lato';
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 100;
}
.h2 {
    font-family: 'Lato';
    font-size: 18px;
}
.h3 {
    font-family: 'Lato';
    font-size: 14px;
}
.sub-content{
    margin-left: 20%;
    position: relative; 
    top: 30%; 
    color: white; 
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
}
@media screen and (min-width: 320px) and (max-width: 650px) {
    .sub-content{
        margin-left: 20%;
        position: relative; 
        top: 20%; 
        color: white; 
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
    }
}
@media screen and (min-width: 650px) and (max-width: 1280px) {
    .sub-content{
        margin-left: 20%;
        position: relative; 
        top: 30%; 
        color: white; 
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
        width: 50%;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1920px) {
    .sub-content{
        margin-left: 20%;
        position: relative; 
        top: 30%; 
        color: white; 
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(1rem, 1fr));
        width: 30%;
    }
}
.body_content{background-color: #E0E0E0; min-height: 35%}
button {
    background-color: rgb(40, 231, 183); 
    transition-duration: 0.4s;
    border: none;
    color: #404040;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    font-family: 'Lato';
    font-size: 12px;
    cursor: pointer;
    border-radius: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
button:hover {
    background-color: rgb(40, 215, 228); 
}
button:active {
    background-color: rgb(233, 144, 103); 
    border: 1px solid grey;
}
.body_heading{
    font-family: 'Lato';
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    color: #383838;
    text-align: center;
    padding: 30px 30px 20px 30px;
    margin-left: 10%;
}
.step_content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    margin-left: 20%;
    margin-right: 10%;
}
.step_number{
    font-family: 'Lato';
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}
.step_title{
    font-family: 'Lato';
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px
}
.step_body {
    font-family: 'Lato';
    font-size: 12px;
    text-align: center;
}   
hr {
    border: 2px solid rgb(40, 231, 183);
    border-radius: 5px;
    width: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
